@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.section-2 {
  background: radial-gradient(118% 116.18% at 50% 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);
  border: 1px solid #000;
}

.part-1 {
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.h-1 {
  display: flex;
  text-align: center;
  margin-top: 1rem;
  font-size: 2.13125rem;
  line-height: 2.77375rem;
  padding: 1rem;
}

.p-1 {
  display: flex;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.8rem;
  margin-top: 1rem;
}

.btn-apple {
  margin-top: 2rem;
  display: flex;
  width: 22.9rem;
  height: 3.15063rem;
  padding: 0.55rem 7.575rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #131022;
  background: #131022;
}

.btn-google {
  margin-top: 1rem;
  display: flex;
  width: 22.9rem;
  height: 3.15063rem;
  padding: 0.55rem 7.575rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #131022;
  background: #131022;
}

.discover-more {
  display: flex;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.375rem;
  border: 1px solid #FFF;
  background: #FFF;
}

.disc {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 0 2rem 5rem;
  border: none;
  background: none;
}

.pic-tablet {
  grid-area: phones;
  display: none;
}

.cont-2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.head-1 {
  display: none;
}

.pic-desktop {
  display: none;
}

@media (min-width: 768px) {
  .section-2 {
    border: none;
  }
  .part-1 {
    max-width: 720px;
  }
  .h-1 {
    display: flex;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.76875rem;
    line-height: 3.6025rem;
    padding: 3rem 10rem 3rem 10rem;
  }
  .p-1 {
    text-align: start;
    margin: 5rem 1rem 0 0;
    font-size: 1.125rem;
    line-height: 1.8rem;
    grid-row: 1;
  }
  .pic-tablet {
    display: block;
  }
  #pic {
    grid-row: 1/4;
    grid-column: 2/3;
  }
  .btn-google {
    display: flex;
    width: 7.875rem;
    height: 2.74375rem;
    padding: 0.66563rem 1.05rem 0.55rem 1.05rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #131022;
    background: #131022;
  }
  .btn-apple {
    margin-top: 1rem;
    display: flex;
    width: 7.875rem;
    height: 2.74375rem;
    padding: 0.66563rem 1.05rem 0.55rem 1.05rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #131022;
    background: #131022;
  }
  .disc {
    display: flex;
    margin: 0;
    gap: 1rem;
    border: none;
    background: none;
    padding: 1rem 0 1rem 0;
    grid-row: 3;
  }
  .apple-google-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    grid-row: 2;
    margin-top: 1rem;
  }
  .head-1 {
    display: none;
  }
  .pic-desktop {
    display: none;
  }
}
@media (min-width: 1400px) {
  .section-2 {
    border: none;
    padding-top: 8rem;
  }
  .part-1 {
    max-width: 1320px;
  }
  .p-1 {
    padding: 0 5rem 1rem 0;
    font-size: 1.125rem;
  }
  .h-1 {
    padding: 2rem 1rem 0 0;
  }
  .pic-tablet {
    display: none;
  }
  .disc {
    grid-row: 2;
    padding: 0;
  }
  .apple-google-btns {
    grid-row: 2;
    justify-content: flex-start;
    padding: 0 0 5rem 0;
  }
  .headers {
    display: none;
  }
  .head-1 {
    display: block;
    text-align: start;
    font-size: 3.5rem;
  }
  .pic-desktop {
    display: block;
    grid-column: 3/-1;
    grid-row: 1/3;
  }
}
.wrapper-logos {
  display: none;
}

.phone-features {
  display: none;
}

.part-2 {
  padding: 0 1rem 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.head-paragraph-features {
  text-align: center;
}

.header-features {
  padding: 2rem;
  font-size: 1.74375rem;
  font-weight: 800;
  line-height: 2.26313rem;
}

.paragraph-features {
  line-height: 1.8rem;
  padding: 0 1rem 0 1rem;
}

.parent-logo-text {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  margin-bottom: 4rem;
}

.parent-logo-text p {
  line-height: 1.6rem;
}

.position-text-pic {
  display: flex;
  align-items: flex-start;
  padding-top: 2rem;
}

.sub-head-paragraphs {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .part-2 {
    max-width: 720px;
  }
  .wrapper-logos {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
  }
  #desktop-only {
    display: none;
  }
  .logo-desktop-tablet {
    border: 1px solid #9397AD;
    height: 100px;
    width: 9.90625rem;
    height: 6.15875rem;
    border-radius: 8px;
    padding: 2.05rem 0.55rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parent-logo-text {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }
}
@media (min-width: 1400px) {
  .part-2 {
    max-width: 1320px;
    display: grid;
    height: 69rem;
  }
  #desktop-only {
    display: block;
  }
  .phone-features {
    display: block;
    position: relative;
  }
  .image1 {
    position: absolute;
    z-index: 0;
    top: 90%;
  }
  .image2 {
    position: absolute;
    top: 110%;
    left: 2%;
    border-radius: 40px;
  }
  .image3 {
    position: absolute;
    top: 195%;
    left: 2.5%;
  }
  .parent-logo-text {
    padding-left: 37rem;
    gap: 1rem;
  }
  .head-paragraph-features {
    padding-left: 37rem;
    text-align: start;
  }
  .header-features {
    padding: 1rem;
    font-size: 1.74375rem;
    font-weight: 800;
    line-height: 2.26313rem;
  }
  .logo-desktop-tablet {
    width: 12.25rem;
  }
}
.section-4 {
  background-color: #F3F6FF;
  height: 100%;
  padding: 1rem 0 1rem 0;
}

.phone-tablet-left {
  display: none;
}

.phone-tablet-right {
  display: none;
}

.pics-transaction-desktop {
  display: none;
}

.h3-paragraph-desktop {
  display: none;
}

.transaction-head2 {
  text-align: center;
  padding-top: 3rem;
}

.pics-transaction-tablet-mobile {
  position: relative;
}

.phone-shell-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.phone-tablet-mobile-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.h3-paragraph-tablet-mobile {
  padding-top: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.transaction-head3 {
  padding: 0 4rem 2rem 4rem;
  line-height: 1.8875rem;
}

.h3-paragraph-tablet-mobile p {
  line-height: 1.6rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .part-3 {
    max-width: 720px;
    padding-left: 3rem;
  }
  .phone-tablet-left {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, 10%);
  }
  .phone-tablet-right {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 10%);
  }
  .h3-paragraph-tablet-mobile p {
    line-height: 1.6rem;
    padding: 0 7rem 2rem 7rem;
  }
}
@media (min-width: 1400px) {
  .part-3 {
    max-width: 1320px;
    width: 100%;
    padding-left: 50rem;
  }
  .pics-transaction-tablet-mobile {
    display: none;
  }
  .h3-paragraph-tablet-mobile {
    display: none;
  }
  .h3-paragraph-desktop {
    display: block;
    padding: 48rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .h3-paragraph-desktop p {
    padding-top: 1rem;
    line-height: 160%;
  }
  .transaction-head4 {
    font-weight: 800;
  }
  .pics-transaction-desktop {
    display: block;
    position: relative;
  }
  .phone-desktop-left {
    border-radius: 30px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, 10%);
  }
  .phone-shell-middle-desktop {
    height: 45.4rem;
    width: 20.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 2%);
  }
  .phone-desktop-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    border-radius: 30px;
  }
  .phone-desktop-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, 10%);
    border-radius: 30px;
    opacity: 0.8;
  }
}
a {
  color: #6366F1;
  text-decoration: none;
}

a:hover {
  color: #6366F1;
  text-decoration: underline;
}

.btn-toogle-switch {
  display: flex;
  align-items: center;
  gap: 10px;
  /* copy from W3 school */
  /* The slider */
  /* Rounded sliders */
}
.btn-toogle-switch .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.btn-toogle-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-toogle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.btn-toogle-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.btn-toogle-switch input:checked + .slider {
  background-color: #6366F1;
}
.btn-toogle-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.btn-toogle-switch input:checked + .slider:before {
  transform: translateX(26px);
}
.btn-toogle-switch .slider.round {
  border-radius: 34px;
}
.btn-toogle-switch .slider.round:before {
  border-radius: 50%;
}

.btn-toogle-switch .label {
  display: none;
}

.btn-primary {
  background-color: #6366F1;
  color: white;
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn-primary:hover {
  background-color: #9397AD;
  color: white;
  text-decoration: none;
}
.btn-primary i {
  margin-right: 0.5rem;
}

.btn-mobile {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.nav-link {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}

.navbar {
  display: none;
}

#signin {
  display: none;
}

#container-1 {
  padding-left: 1rem 0 1rem 0;
  padding-right: 1rem 0 1rem 0;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1.5rem;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  #container-1 {
    max-width: 720px;
  }
  .btn-toogle-switch .label {
    display: block;
  }
  .nav {
    gap: 3rem;
  }
}
@media (min-width: 1400px) {
  #container-1 {
    max-width: 1320px;
  }
  .btn-toogle-switch .label {
    display: block;
  }
  .nav {
    grid-template-columns: auto 1fr auto auto;
    gap: 3rem;
  }
  #signin {
    display: block;
  }
  .btn-mobile {
    display: none;
  }
  .navbar {
    display: block;
  }
}
body {
  font-family: Manrope;
}/*# sourceMappingURL=style.css.map */